/* @import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/typeplate-starter-kit/dist/css/typeplate.css"; */


@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    font-size: 0;
    text-align: justify;

    & > * {
        display: inline-block;
        font-size: medium;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

@define-mixin grid_r $col, $width {
        @media (min-width: $(width)px) {
                .grid-$(col)-$(width) {
                    & > * {
                       width: calc(100 / $col)%;
                }
            }
    }
}

@mixin grid_r 2, 400;
@mixin grid_r 3, 600;
@mixin grid_r 4, 800;
@mixin grid_r 6, 1000;

.advent {
    padding: 1.5rem;
    border: 1px solid green;
    margin: 2rem;

    h1, p {
        color: green;
        font-size: medium;
        text-align: center;
        padding: auto;
        margin: auto;
    }
}

.compose-advent {
    border: 1px solid green;
    float: left;
    color: green;
    position: center;
}

.new-advent-form {
     max-width: 600px;
     margin: 1.5rem auto;
     input {
        display: block;
        padding: .5rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
}

.advent-form {
    display: block;
}

.advance-category-button {
    display: inline;
    margin: 40px;

}
