/* @import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/typeplate-starter-kit/dist/css/typeplate.css"; */

@import "../../node_modules/bootstrap/dist/css/bootstrap.css";


*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    font-size: 0;
    text-align: justify;

    & > * {
        display: inline-block;
        font-size: medium;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

@define-mixin grid_r $col, $width {
        @media (min-width: $(width)px) {
                .grid-$(col)-$(width) {
                    & > * {
                       width: calc(100 / $col)%;
                    }
            }
    }
}

@mixin grid_r 2, 400;
@mixin grid_r 3, 600;
@mixin grid_r 4, 800;
@mixin grid_r 6, 1000;



body {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    
}


.menu-button {
    height: 50px;
    width: 50px;
    position: fixed;
}


.advent {
    padding: 1.5rem;
    border: 1px solid green;
    margin: 2rem;

    h1, li {
        color: green;
        font-size: medium;
        text-align: center;
        padding: auto;
        margin: auto;
    }
}

.new-advent-form {
     margin-top: 40px;
     max-width: 600px;
     margin: 1.5rem auto;
     float: left;
     padding-left: 20px;
     margin-top: 30%;
     padding-bottom: 125px;
     input {
        display: inline-block;
        padding: .5rem;
        margin-bottom: 1.5rem;
        width: 100%;
        background-color: none;
     }
}

.advent-form {
    display: block;
}

.advance-category-button {
    display: inline;
    margin: 40px;
}

.login-stuff > * {
    margin: 30px;
}

.location, .new-RO-form, .option-form, .category-form, .section-form, .advance-form, .employee-form  {
     max-width: 600px;
     margin: 1.5rem auto;
     input {
        display: block;
        padding: .5rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
}

.form-buttons {
     margin: 1.5rem auto;
}

* header#header nav ul li {
  border-top: 1px solid black;
  list-style-type: none;
  display: block;
  margin-top: 15px; 
  width: 100px;
 
}
nav a {
    color: black;
    float: right;
}

/* below controls navigation sub-menues */
header#header nav #primary li ul {
  display: none;
  width: 100px;
}
/* below controls nav menu lines */
header#header nav #primary li:hover,
header#header nav #primary li.active {
  border-color: black;
  color: black;
}

/* below gives sub-menues display */
header#header nav #primary li:hover ul,
header#header nav #primary li.active ul {
  display: block;
  padding: 0;
}

/* below gives menu color when hovering */
header#header nav #primary li:hover > a,
header#header nav #primary li.active > a {
  color: black;
}

/* controls menu bar sizing and layout */
*.row > [class*="span"] {
  display: inline;
  margin-left: 10px;
  margin-right: 20px;
}

.span2 {
  width: 30px;
}



