/* @import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/typeplate-starter-kit/dist/css/typeplate.css"; */

@import "../../node_modules/bootstrap/dist/css/bootstrap.css";


*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    font-size: 0;
    text-align: justify;

    & > * {
        display: inline-block;
        font-size: medium;
    }

    &:after {
        content: "";
        display: none;
        width: 100%;
    }
}

@define-mixin grid_r $col, $width {
        @media (min-width: $(width)px) {
                .grid-$(col)-$(width) {
                    & > * {
                       width: calc(100 / $col)%;
                    }
            }
    }
}

@mixin grid_r 2, 400;
@mixin grid_r 3, 600;
@mixin grid_r 4, 800;
@mixin grid_r 6, 1000;

//General Background Styling

div.app {  
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    margin: auto;
    width: 70%;
    padding: 10px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    background-color: #E0E2DB;
    color: #1D1E2C;
}

//Navigation Menu Styling

* header#header nav ul li {
  border-top: 1px solid #1D1E2C;
  list-style-type: none;
  display: block;
  margin: auto;
  width: 70%;
  margin-bottom: 40px;
  color: #1D1E2C;
}

a.key {
    font-size: 300%;
}

a {
    color:#1D1E2C;
    }
a:hover {
    color: #420039;
}

li.key {
    display: inline-block; 
}

ul#secondary {
    border-top: 1px solid #1D1E2C;
    margin-top: 30px;
    width: 70%;
    color: #1D1E2C;

}

div#container.container {
    color: #420039;
}

ul#secondary li.project {
    float: right;
    margin-left: 30px;
    margin-top: 7px;
    color: #1D1E2C;
}

/* below controls navigation sub-menues */
header#header nav #primary li ul {
  display: block;
 
}

/* below gives menu color when hovering */
header#header nav #primary li:hover > a,
header#header nav #primary li.active > a {
  color: #1D1E2C;
  
}

// Login Page Styling 

.login-stuff {
    padding: 30px;
    margin: 0;
    
}

div.login-input-stuff {
    height: 100%;
    width: 300px;
    h4 {
        padding: 0;
        margin: 0;
    }
}

div.login-stuff {
    height: 100%;
    h1 {
        padding: 0;
        margin: 0;
    }
}

form.register-form {
    padding-top: 20px;
        h4 {
            margin-bottom: 10px;
            margin-left: 3px;
        }
        div.input-fields {
            margin-left: 0px;
        }
}

form.login-form {
    padding-top: 20px;
    display: inline-block;
    h4 {
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    div.input-fields {
        margin-left: 0px;
    }
}

li.description  {
    width: 250px;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 30px;
    
}



button.register-button {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-left: 3px;
}

button.login-button {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-left: 3px;
}

// Employee and Advent List Styling 

div.advent-element {
    margin: auto;
    width: 70%;
    padding: 10px;
}

// Build Page Styling
div.advent-form {
    padding: 10px;
    align: center;
}

div.title input.input-fields {
    display: inline;
    border: 1px solid #420039;
    color: #EFF6E0;
    background-color: #1D1E2C;
    list-style-type: none;
    width: 250px;
}

.input-fields input {
    display: inline;
    border: 1px solid #420039;
    color: #EFF6E0;
    background-color: #1D1E2C;
    margin: 3px;
    list-style-type: none;
   
}

.title span {
    border-top: none;
}

// Location form styling

div.new-event-location-form input {
    margin-left: 8px;
    width: 290px;
}

div.location ul li {
    margin-left: 8px;
}

div.input-fields {
    margin-left: 10px;
}

h4.location {
    margin-left: 14px;
}

button.location-buttons {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 12px;
}

button.google-button {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-bottom: 20px;
    margin-left: 5px;
}

// Employee Form Styling

div.employee-form {
     margin-left:20px;
     width: 320px;
}

h4.employee {
    margin-left: 30px;
}

input.employee-fields {
    list-style-type: none;
    width: 300px;
    margin-left: 30px;
}

button.employee-buttons {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}

// Advance Form Styling 

div.advance-form > * {
     width: 100%;
     margin: 1.5rem auto;
     input {
        display: block;
        padding: .5rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
}

h4 {
    margin-left: 30px;
}

 div.advance-form  {
    border: 1px solid #1D1E2C;
    display: block;
    
}

ul.input-fields textarea {
    clear: right;
    width: 350px;
    background-color: #1D1E2C;
    color: #EFF6E0;
    text-align: center;
    list-style-type: none;
    margin-left: 30px;
}



div.option input {
    float: right;
    width: 150px;
    margin-left: 100px;
    background-color: #1D1E2C;
    color: #EFF6E0;
    text-align: center;
    list-style-type: none;
}

.advance-category-button {
    display: inline;
    margin: 40px;
}

ul {
    padding: 0;
    list-style-type: none; 
}

div.option-form {
    width: 150px;
    margin-left: 41px;
}

h6.option {
    margin-left: 100px;
}
div.section-form input {
    width: 350px;
    margin-left: 30px;
}

h4.section {
    margin-left: 30px;
}

div.category-form input {
    width: 300px;
    margin-left: 60px;
}

h5.category {
    margin-left: 60px;
}





button.create-event {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
}

button.form-buttons {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
    margin-right: 3px;
}

button.advance-buttons {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}



button.newAdvent {
    margin: 20px;
    display: block;
    border: 1px solid #1D1E2C;
    color: #EFF6E0;
    padding: 15px;
}



button.build-button {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    margin-top: 10px;
    margin-left: 3px;
    list-style-type: none;
}

button.view-button {
    background-color: #1D1E2C;
    color: #EFF6E0;
    border: 1px solid #420039;
    list-style-type: none;
}


ul.advent-list li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}

ul.employee-list li {
    display: inline;

}

span {
    display:block;
    margin: 3px;
    padding-left: 3px;
    border-top: 1px solid #420039;
    }



span.advent-view {
    margin-left: 0;
    padding-left: 0;
}






