/* @import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/typeplate-starter-kit/dist/css/typeplate.css"; */

@import "../../node_modules/bootstrap/dist/css/bootstrap.css";


*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    font-size: 0;
    text-align: justify;

    & > * {
        display: inline-block;
        font-size: medium;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

@define-mixin grid_r $col, $width {
        @media (min-width: $(width)px) {
                .grid-$(col)-$(width) {
                    & > * {
                       width: calc(100 / $col)%;
                    }
            }
    }
}

@mixin grid_r 2, 400;
@mixin grid_r 3, 600;
@mixin grid_r 4, 800;
@mixin grid_r 6, 1000;



div.app {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    background-color: #2D3142;
    color: #F2E9E4;
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.menu-button {
    height: 50px;
    width: 50px;
    position: fixed;
}

.advance-category-button {
    display: inline;
    margin: 40px;
}

.login-stuff {
    padding: 30px;
    margin: 0;
}

.new-RO-form, .advance-form, .employee-form  {
     max-width: 600px;
     margin: 1.5rem auto;
     input {
        display: block;
        padding: .5rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
}
span.location {
    margin: 0;
    margin-top: 30px;
}
.form-buttons {
     margin: 1.5rem auto;
}

* header#header nav ul li {
  border-top: 1px solid #E3D7FF;
  list-style-type: none;
  display: block;
}

ul#secondary {
    padding-left: 30px;
}
nav#menu {
    position: fixed;
    float: left;
    width: 100%;
}
nav a {
    color: #F2E9E4;
}

a.key {
    font-size: 125%;
}

/* below controls navigation sub-menues */
header#header nav #primary li ul {
  display: block;
}
/* below controls nav menu lines 
// header#header nav #primary li:hover,
// header#header nav #primary li.active {
//   border-color: white;
//   color: white;
  
// }

below gives sub-menues display 
// header#header nav #primary li:hover ul,
// header#header nav #primary li.active ul {
//   display: block;
//   padding: 0; */
 



/* below gives menu color when hovering */
header#header nav #primary li:hover > a,
header#header nav #primary li.active > a {
  color: #317B22;
}

/* controls menu bar sizing and layout */
*.row > [class*="span"] {
  display: block;
  float: right;
  margin-right: 10px;
  width: 100%;
}

.span2 {
  width: 30px;
}

div.advent {
    list-style-type: none;
}


div.advent a.hover {
    
    h5 {
        display: block;
        color: #F2E9E4;
    }
}

button.newAdvent {
    margin: 20px;
    display: block;
    border: 1px solid #564D4A;
    color: #F2E9E4;
    padding: 15px;
}

.input-fields input {
    display: inline;
    border: 1px solid #564D4A;
    color: #F2E9E4;
    background-color: #48483A;
    margin: 3px;
    list-style-type: none;
}


 div.advance-form div.employee-form {
    border: 1px solid #35393C;
    display: block;
}



div.option-form {
    max-width: 350px;
}

.section-form {
    max-width: 500px;
    align-content: center;
    margin: 0;
}

.category-form {
    max-width: 420px;
}



div.overview {
    div.overview-style {
        background-color: '#1f4662';
        color: '#fff';
        font-size: '12px';
    }

    div.header-style {
        background-color: '#193549';
        padding: '5px 10px';
        font-family: 'monospace';
        color: '#ffc600';
    }

    pre-style.pre-style text {
        display: 'block';
        padding: '10px 30px';
        margin: '0';
        overflow: 'scroll';
    }
}



div.login-stuff {
    height: 100%;
    h1 {
        padding: 0;
        margin: 0;
    }
}

li.description {
    width: 200px;
    display: block;
    float: left;
    margin-top: 20px; 
    margin-left: 0;
    margin-right: 20px;
}

div.login-input-stuff {
    height: 100%;
    width: 300px;
    h4 {
        padding: 0;
        margin: 0;
    }
}

button.register-button {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #564D4A;
    margin-top: 10px;
    margin-left: 3px;
}

button.login-button {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #564D4A;
    margin-top: 10px;
    margin-left: 3px;
}

form.register-form {
    padding-top: 20px;
        h4 {
            margin-bottom: 10px;
            margin-left: 3px;
        }
}

form.login-form {
    padding-top: 20px;
    display: inline-block;
    h4 {
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
}

button.create-event {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #F2E9E4;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
}

ul.input-fields textarea {
    clear: left;
    width: 250px;
    background-color: #48483A;
    color: #F2E9E4;
    text-align: center;
    margin: 3px;
    list-style-type: none;
}



input.input-fields {
    clear: left;
    width: 250px;
    background-color: #48483A;
    color: #F2E9E4;
    text-align: center;
    margin: 3px;
    list-style-type: none;
        }

button.form-buttons {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #F2E9E4;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
}

button.google-button {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #F2E9E4;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 3px;
}

button.create-employee {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #F2E9E4;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
    list-style-type: none;
}

button.build-button {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #F2E9E4;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
    list-style-type: none;
}

button.view-button {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #F2E9E4;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
    list-style-type: none;
}

button.save-location {
    background-color: #48483A;
    color: #F2E9E4;
    border: 1px solid #F2E9E4;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
    list-style-type: none;
}


div.employee-form {
    display: inline;
}

ul.employee-list {
    list-style-type: none;
}

ul.advent-list {
    list-style-type: none;
    margin-top: 20px;
}

div.advent-element {
    display: inline;
    border-bottom: 5px solid #564D4A;
    list-style-type: none;
    padding: 5px;
    margin-left: 15px;
    align-content: center;
    text-align: center;
    color: #F2E9E4;
    a {
        color: #564D4A;
    }
}

ul.input-fields {
    list-style-type: none;
}

div.advent-input-fields {
    background-color: #48483A;
    display: inline;
    color: #F2E9E4;
    text-align: left;
    
}

ul {
    padding: 0;
    list-style-type: none; 
}



div.new-RO-form {
    border: 1px solid #48483A;
    display: block;
        span {
            margin-left: 3px;
        }
}

div.location {
    li {
        list-style-type: none;
    }
}

span {
    display:block;
    margin: 3px;
    padding-left: 3px;
    border-top: 1px solid #E3D7FF;
    }

.title span {
    border-top: none;
}

span.advent-view {
    margin-left: 0;
    padding-left: 0;
}

div.new-event-location-form input {
    width: 400px;
}